@{
    ViewData["Title"] = "Home Page";
}

    <div asp-controller="Products" asp-action="">
        <ul>
                @*@foreach (var topProduct in model.ProductListView)
                {
                    if (topProduct < 20)
                    {
                    <li>@topProduct</li>
                    } else
                    {
                        break;
                    }

                }*@
        </ul>
    </div>



