
@{
    ViewData["Title"] = "OrderComplete";
}

<h2>Thank you!</h2>
<p>We are packing your order<br />
   with great care, as if diamonds.<br />
   Please order again, signed <br />
   your friends here at Bangazon!</p>

<a asp-action="GoHome">Home</a>